<ng-container *ngIf="opened">
  <section class="fixed top-0 left-0 w-full h-screen bg-black bg-opacity-50" (click)="closeCarousel()">


  </section>
  <button *ngIf="fileCounter > 0" (click)="changeCounter(-1)" type="button"
          class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round"
                                                                              stroke-linejoin="round" stroke-width="2"
                                                                              d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
  </button>
  <button *ngIf="fileCounter < files.length - 1" (click)="changeCounter(1)" type="button"
          class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round"
                                                                              stroke-linejoin="round" stroke-width="2"
                                                                              d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
  </button>

  <img #img [src]="files.length > 0 ? files[fileCounter].src : ''" (load)="onImgLoad()" [width]="width"
       [height]="height"
       [alt]="files[fileCounter].name + ' image'" class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">

  <button (click)="closeCarousel()" type="button"
          class="absolute top-4 right-0 z-40 flex items-center justify-center px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev>
        <span
          class="font-bold text-white inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            X
            <span class="sr-only">Previous</span>
        </span>
  </button>
</ng-container>
