<section
  class="w-56 bg-gray-1000 max-md:hidden h-full border-r border-gray-800"
>
  <ul class="pt-8">
    <li>
      <a
        class="w-full flex items-center justify-center cursor-pointer hover:text-white"
        [routerLink]="['/' + mainDirectoryId]"
      >
        <div
          class="w-10/12 flex items-center p-2 box-content rounded-md hover:bg-slate-800 {{
            currentId == mainDirectoryId ? 'bg-slate-800' : ''
          }}"
        >
          <i
            class="w-6 text-lg fa-regular fa-folder-closed ml-1 mr-2 {{
              currentId == mainDirectoryId ? 'text-white' : 'text-slate-400'
            }}"
          ></i>
          <p
            class="text-sm font-semibold {{
              currentId == mainDirectoryId ? 'text-white' : 'text-slate-400'
            }}"
          >
            Drive
          </p>
        </div>
      </a>
    </li>
    <li class="mt-1">
      <a
        class="w-full flex items-center justify-center cursor-pointer hover:text-white"
        [routerLink]="['/' + trashId]"
      >
        <div
          class="w-10/12 flex items-center p-2 box-content rounded-md hover:bg-slate-800 {{
            currentId == trashId ? 'bg-slate-800' : ''
          }}"
        >
          <i
            class="w-6 text-lg fa-regular fa-trash-can ml-1 mr-2 {{
              currentId == trashId ? 'text-white' : 'text-slate-400'
            }}"
          ></i>
          <p
            class="text-sm font-semibold {{
              currentId == trashId ? 'text-white' : 'text-slate-400'
            }} "
          >
            Trash
          </p>
        </div>
      </a>
    </li>
  </ul>
</section>
<div class="btm-nav h-16 hidden max-md:flex z-10">
  <button
    class="{{ currentId === mainDirectoryId ? 'active' : '' }} text-indigo-700"
    [routerLink]="['/' + mainDirectoryId]"
  >
    <i class="fa-solid fa-home h-7 flex items-center text-xl"></i>
    <p class="text-xs font-semibold">Home</p>
  </button>
  <button
    class="{{ currentId === trashId ? 'active' : '' }} text-red-700"
    [routerLink]="['/' + trashId]"
  >
    <i class="fa-solid fa-trash h-7 flex items-center text-xl"></i>
    <p class="text-xs font-semibold">Trash</p>
  </button>
</div>
