<section class="w-56 bg-white mt-3 max-md:hidden">
  <a class="a w-full flex flex-col items-center cursor-pointer selected">
    <div class="flex items-center py-2  w-9/12 select-none">
      <i class="fa-solid fa-hard-drive text-indigo-700 text-xl mr-2 w-6"></i>
      <p class="text-sm font-medium text-gray-600">Drive</p>
    </div>
  </a>
  <a class="a w-full flex flex-col items-center cursor-pointer">
    <div class="flex items-center py-2  w-9/12 select-none">
      <i class="fa-solid fa-trash text-gray-600 text-xl mr-2 w-6"></i>
      <p class="text-sm font-medium text-gray-600 hover:text-gray-900">Trash</p>
    </div>
  </a>
</section>
<div class="btm-nav h-16 hidden max-md:flex">
  <button class="active text-indigo-700" [routerLink]="['']">
    <i class="fa-solid fa-home h-7 flex items-center text-xl"></i>
    <p class="text-xs font-semibold">Home</p>
  </button>
  <label for="folder-modal" class="text-accent">
    <i class="fa-solid fa-circle-plus text-2xl h-7"></i>
    <p class="text-xs font-semibold">New folder</p>
  </label>
  <button class="text-red-700">
    <i class="fa-solid fa-trash h-7 flex items-center text-xl"></i>
    <p class="text-xs font-semibold">Trash</p>
  </button>
</div>
