<section
  (dragleave)="closeUploadPanel($event)"
  id="fileUpload"
  class="max-sm:hidden border-4 border-indigo-700 bg-indigo-700/25 p-3 rounded-lg transition-opacity w-full h-full absolute top-0 left-0 flex flex-col z-10 {{
    fileUploadPanelOpened === true ? '' : 'scale-0 opacity-30'
  }}"
  (drop)="fileInputDrop($event)"
  (dragover)="preventEvent($event)"
  (dragenter)="preventEvent($event)"
>
  <form class="h-full">
    <label class="block text-sm font-medium text-gray-700 sr-only"
      >Upload file</label
    >
    <div
      class="fixed bottom-10 left-1/2 -translate-x-1/2 w-80 flex flex-col bg-indigo-700 p-3 items-center md:ml-28 rounded-sm shadow"
    >
      <svg
        class="mx-auto h-12 w-12 text-white mb-1"
        stroke="currentColor"
        fill="none"
        viewBox="0 0 48 48"
        aria-hidden="true"
      >
        <path
          d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <div class="flex text-sm text-white bg-indigo-700">
        <label
          for="file-upload"
          class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500"
        >
          <span class="sr-only">Choose files</span>
          <input
            id="file-upload"
            name="file-upload"
            type="file"
            class="sr-only"
            (change)="fileUploadChange($event)"
            multiple
          />
        </label>
        <p class="pl-1 font-semibold">Drag and drop files to upload</p>
      </div>
      <p class="text-xs text-white">Files up to 8MB</p>
    </div>
  </form>
</section>
<section
  [ngClass]="{ 'translate-y-full': !fileUploadPanelOpened }"
  class="z-10 fixed bottom-0 left-0 w-full bg-gray-900 rounded-t rounded-xl border-t border-indigo-700 transition-all hidden max-sm:block"
>
  <div class="flex items-end">
    <h3
      for="file-upload"
      class="mb-1 text-lg text-gray-400 font-semibold mr-auto px-5"
    >
      Upload files
    </h3>
    <button
      (click)="fileUploadPanelOpened = false"
      class="mt-2 mr-2 ml-auto btn btn-sm btn-circle text-gray-400 p-2 hover:bg-gray-800 rounded-full h-6 w-6 flex items-center justify-center box-content"
    >
      ✕
    </button>
  </div>
  <form action="" (ngSubmit)="mobileFileUpload($event)">
    <input
      class="bg-gray-800"
      type="file"
      name="file-upload"
      id="file-upload"
      multiple
    />
    <label for="file-upload" class="text-gray-400 flex items-center px-5 py-3">
      <div
        class="cursor-pointer w-32 p-2 text-center rounded-md bg-indigo-600 hover:bg-indigo-700 text-white mr-5"
      >
        <i class="fa-solid fa-upload"></i>
      </div>
      Select files to upload
    </label>
    <div class="border-t border-gray-800 bg-gray-1000 px-5 py-3 box-content">
      <button
        type="submit"
        class="p-3 w-full text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Upload
      </button>
    </div>
  </form>
</section>
<button
  (click)="fileUploadPanelOpened = !fileUploadPanelOpened"
  class="fixed bottom-6 right-6 w-14 h-14 bg-indigo-700 hover:bg-indigo-800 rounded-xl text-white max-md:bottom-20 sm:hidden"
>
  <i class="fa-solid fa-upload"></i>
</button>
