<button #directoryTile draggable="true"
  class="utility_focus-on-select-all utility:keep-selected w-full grid grid-cols-[auto_5fr_3fr_3fr] gap-6 cursor-default context-menu-clickable {{ !selectedList.includes(directory) ? 'hover:bg-gray-850' : 'bg-gray-800' }} px-2">

  <div class="h-12 p-2 flex justify-center items-center">
    <div class="flex items-center justify-center w-6 context-menu-clickable">
      <i class="drop-target fa-solid fa-folder text-indigo-700 text-2xl mb-1"></i>
    </div>
  </div>

  <div class="flex items-center overflow-hidden">
    <p class="text-left font-medium text-sm text-gray-400 overflow-ellipsis whitespace-nowrap overflow-hidden">
      {{ directory.name }}
    </p>
  </div>
  <div></div>
  <div class="flex items-center">
    <p class="text-left font-medium text-sm text-gray-400">
      {{ directory.shortCreated }}
    </p>
  </div>

  <div class="w-full h-12 absolute z-10" (dragenter)="addHoverClass()" (dragleave)="removeHoverClass()"
    (drop)="dropEvent($event)" (dragover)="$event.preventDefault()"></div>
</button>
