<div class="flex mt-5">
  <div class="w-56 flex justify-center max-md:hidden">
    <label for="folder-modal"
           class="w-9/12 text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 cursor-pointer">
      New folder
    </label>
  </div>
  <div class="flex items-center">
    <h1
      class="ml-2.5 text-xl font-semibold text-indigo-700 max-md:pl-3">{{ directory.name }}</h1>
  </div>
</div>
<section class="flex">
  <app-side-navbar></app-side-navbar>
  <main class="p-3 w-full">
    <div
      class="grid grid-cols-8 max-2xl:grid-cols-6 max-xl:grid-cols-5 max-lg:grid-cols-4 max-md:grid-cols-3 max-sm:grid-cols-2 gap-2 mb-5">
      <app-directory-tile *ngFor="let dir of directory.directories; let i = index" [directory]="dir"
                          (dblclick)="this.router.navigate(['/' + dir.id])"
              (contextmenu)="openContextMenu($event, i, contextMenuConstants.DIRECTORY)">
      </app-directory-tile>
      <label for="folder-modal" *ngIf="directory.id && isTrash == false"
             class="bg-white border border-gray-200 rounded-lg hover:bg-gray-100 dark:bg-gray-800
       dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center h-24 w-full mr-3 cursor-pointer">
        <i class="fa-solid fa-circle-plus text-indigo-700 text-4xl mb-1"></i>
        <h3 class="text-sm text-gray-600 font-semibold">Create new folder</h3>
      </label>
    </div>

    <div
      class="grid grid-cols-8 max-2xl:grid-cols-6 max-xl:grid-cols-5 max-lg:grid-cols-4 max-md:grid-cols-3 max-sm:grid-cols-2 gap-2 last-of-type:mb-16">
      <app-file *ngFor="let file of directory.files; let i = index" [file]="file"
                (keydown)="onFileKeydown($event, i)" (dblclick)="openFileCarousel(i);"
                (contextmenu)="openContextMenu($event, i, contextMenuConstants.FILE)"
                (keydown.shift.delete)="openPermanentlyDeleteModal(file.id)"></app-file>
    </div>
    <section [ngClass]="{'scale-0': !fileUploadPanelOpened, 'opacity-30': !fileUploadPanelOpened}"
             class="max-sm:hidden fixed right-6 border border-indigo-700 bottom-24 bg-white p-3 rounded rounded-lg w-96 h-80 transition-opacity"
             (drop)="fileInputDrop($event)" (dragover)="preventEvent($event)" (dragenter)="preventEvent($event)">
      <form class="h-full">
        <label class="block text-sm font-medium text-gray-700 sr-only">Upload file</label>
        <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6 h-full">
          <div class="space-y-1 text-center flex flex-col justify-center">
            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
                 aria-hidden="true">
              <path
                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="flex text-sm text-gray-600">
              <label for="file-upload"
                     class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                <span>Choose files</span>
                <input id="file-upload" name="file-upload" type="file" class="sr-only"
                       (change)="fileUploadChange($event)">
              </label>
              <p class="pl-1">or drag and drop</p>
            </div>
            <p class="text-xs text-gray-500">Files up to 8MB</p>
          </div>
        </div>
      </form>
    </section>
    <section [ngClass]="{'translate-y-full': !fileUploadPanelOpened}"
             class="z-10 fixed bottom-0 left-0 w-full bg-white rounded-t rounded-xl p-5 border-t border-indigo-700 transition-all hidden max-sm:block">
      <div class="flex items-end mb-3">
        <label for="file-upload" class="text-lg font-bold mb-0 mr-auto">Select files</label>
        <button (click)="fileUploadPanelOpened = false" class="btn btn-sm btn-circle">✕</button>
      </div>
      <form action="" (ngSubmit)="mobileFileUpload($event)">
        <input type="file" name="file-upload" id="file-upload" multiple>
        <button type="submit"
                class="mt-3 w-full text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">
          Upload
        </button>
      </form>
    </section>
    <button (click)="fileUploadPanelOpened = !fileUploadPanelOpened"
            class="fixed bottom-6 right-6 w-14 h-14 bg-indigo-700 hover:bg-indigo-800 rounded rounded-xl text-white max-md:bottom-20">
      <i
        class="fa-solid fa-upload"></i></button>
  </main>
</section>

<input [formControl]="modalToggle" type="checkbox" id="folder-modal" class="modal-toggle"/>
<label for="folder-modal" class="modal transition-none">
  <label class="modal-box relative bg-white rounded-lg shadow dark:bg-gray-700 transition-none" for="">
    <div class="flex items-end mb-3">
      <h3 class="text-lg font-bold mb-0 mr-auto">New folder</h3><label for="folder-modal"
                                                                       class="btn btn-sm btn-circle">✕</label>
    </div>

    <form class="space-y-6" action="#" (ngSubmit)="newDirectory()">
      <div>
        <label for="directory_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white hidden">Folder
          name</label>
        <input [formControl]="newDirectoryName" type="text" name="directory_name" id="directory_name"
               class="bg-gray-50 border font-medium border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
               placeholder="Example folder name..." required>
      </div>
      <button type="submit"
              class="w-full text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">
        Create new folder
      </button>
    </form>
  </label>
</label>
<app-file-carousel *ngIf="directory.files.length > 0" [files]="directory.files"
                   [openedSubject]="fileCarouselSubject"></app-file-carousel>
<app-file-details [files]="directory.files" [openedSubject]="fileDetailsSubject"></app-file-details>
<div #contextMenu id="contextMenu"
     class="scale-0 absolute top-0 left-0 bg-white rounded overflow-hidden w-44 text-sm hidden md:block">
  <ul class="text-left font-medium">
    <ng-container *ngIf="contextMenuType === contextMenuConstants.FILE">
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4"
          (click)="openFileDetails(contextMenuId)"><i class="fa-solid fa-circle-info w-4 mr-2"></i>Details
      </li>
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4"
          (click)="openRenameFileModal(directory.files[contextMenuId].id)"><i class="fa-solid fa-pen w-4 mr-2"></i>Rename
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="!isTrash"
          (click)="openDeleteModal(directory.files[contextMenuId].id)"><i class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="isTrash"
          (click)="openPermanentlyDeleteModal(directory.files[contextMenuId].id)"><i
        class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-green-400 text-white cursor-pointer hover:bg-green-500 py-2 pl-4" *ngIf="isTrash"
          (click)="openRestoreFileModal(directory.files[contextMenuId].id)"><i
        class="fa-solid fa-rotate-right w-4 mr-2"></i>Restore
      </li>
    </ng-container>
    <ng-container *ngIf="contextMenuType === contextMenuConstants.DIRECTORY">
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4">
        <i class="fa-solid fa-circle-info w-4 mr-2"></i>Details
      </li>
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4">
        <i class="fa-solid fa-pen w-4 mr-2"></i>Rename
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="!isTrash">
        <i class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="isTrash"><i
        class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-green-400 text-white cursor-pointer hover:bg-green-500 py-2 pl-4" *ngIf="isTrash">
        <i
          class="fa-solid fa-rotate-right w-4 mr-2"></i>Restore
      </li>
    </ng-container>

  </ul>
</div>
<app-modal [inputSubject]="inputModalSubject" [outputSubject]="outputModalSubject"></app-modal>
