<div class="flex mt-5">
  <div class="w-56 flex justify-center max-md:hidden">
    <button (click)="openCreateDirectoryModal()"
            class="w-9/12 text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 cursor-pointer">
      New folder
    </button>
  </div>
  <div class="flex items-center">
    <h1
      class="ml-2.5 text-xl font-semibold text-indigo-700 max-md:pl-3">{{ directory.name }}</h1>
  </div>
</div>
<section class="flex">
  <app-side-navbar></app-side-navbar>
  <main class="p-3 w-full">
    <div
      class="grid grid-cols-8 max-2xl:grid-cols-6 max-xl:grid-cols-5 max-lg:grid-cols-4 max-md:grid-cols-3 max-sm:grid-cols-2 gap-2 mb-5">
      <app-directory-tile *ngFor="let dir of directory.directories; let i = index" [directory]="dir"
                          (keydown)="onFileKeydown($event, i, contextMenuConstants.DIRECTORY)"
                          (dblclick)="this.router.navigate(['/' + dir.id])"
                          (contextmenu)="openContextMenu($event, i, contextMenuConstants.DIRECTORY)"
                          (keydown.shift.delete)="openPermanentlyDeleteDirectoryModal(dir.id)"
                          (dropEventEmitter)="moveToDirectory($event)"
      >
      </app-directory-tile>
      <button *ngIf="directory.id && !isTrash" (click)="openCreateDirectoryModal()"
              class="bg-white border border-gray-200 rounded-lg hover:bg-gray-100 dark:bg-gray-800
       dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center h-24 w-full mr-3 cursor-pointer">
        <i class="fa-solid fa-circle-plus text-indigo-700 text-4xl mb-1"></i>
        <h3 class="text-sm text-gray-600 font-semibold">Create new folder</h3>
      </button>
    </div>

    <div
      class="grid grid-cols-8 max-2xl:grid-cols-6 max-xl:grid-cols-5 max-lg:grid-cols-4 max-md:grid-cols-3 max-sm:grid-cols-2 gap-2 last-of-type:mb-16">
      <app-file-tile *ngFor="let file of directory.files; let i = index" [file]="file"
                     (keydown)="onFileKeydown($event, i, contextMenuConstants.FILE)" (dblclick)="openFileCarousel(i);"
                     (contextmenu)="openContextMenu($event, i, contextMenuConstants.FILE)"
                     (keydown.shift.delete)="openPermanentlyDeleteModal(file.id)"
                     (dragstart)="dragElementId = file.id; dragElementType=contextMenuConstants.FILE"
              draggable="true"
      ></app-file-tile>
    </div>
    <app-file-upload [directory]="this.directory"></app-file-upload>
  </main>
</section>
<app-file-carousel *ngIf="directory.files.length > 0" [files]="directory.files"
                   [openedSubject]="fileCarouselSubject"></app-file-carousel>
<app-item-details [files]="directory.files" [directories]="directory.directories"
                  [openedSubject]="fileDetailsSubject"></app-item-details>
<div #contextMenu id="contextMenu"
     class="scale-0 absolute top-0 left-0 bg-white rounded overflow-hidden w-44 text-sm hidden md:block z-20">
  <ul class="text-left font-medium">
    <ng-container *ngIf="contextMenuType === contextMenuConstants.FILE">
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4"
          (click)="openFileDetails(contextMenuId, contextMenuConstants.FILE)"><i
        class="fa-solid fa-circle-info w-4 mr-2"></i>Details
      </li>
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4"
          (click)="openRenameFileModal(contextMenuId)"><i class="fa-solid fa-pen w-4 mr-2"></i>Rename
      </li>
      <li class="flex items-center bg-green-400 text-white cursor-pointer hover:bg-green-500 py-2 pl-4" *ngIf="!isTrash"
          (click)="downloadFile(directory.files[contextMenuId])"><i
        class="fa-solid fa-download w-4 mr-2"></i>Download
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="!isTrash"
          (click)="openDeleteModal(directory.files[contextMenuId].id)"><i class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="isTrash"
          (click)="openPermanentlyDeleteModal(directory.files[contextMenuId].id)"><i
        class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-green-400 text-white cursor-pointer hover:bg-green-500 py-2 pl-4" *ngIf="isTrash"
          (click)="openRestoreFileModal(directory.files[contextMenuId].id)"><i
        class="fa-solid fa-rotate-right w-4 mr-2"></i>Restore
      </li>
    </ng-container>
    <ng-container *ngIf="contextMenuType === contextMenuConstants.DIRECTORY">
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4"
          (click)="openFileDetails(contextMenuId, contextMenuConstants.DIRECTORY)">
        <i class="fa-solid fa-circle-info w-4 mr-2"></i>Details
      </li>
      <li class="flex items-center text-gray-600 cursor-pointer hover:bg-gray-100 py-2 pl-4"
          (click)="openRenameDirectoryModal(contextMenuId)">
        <i class="fa-solid fa-pen w-4 mr-2"></i>Rename
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="!isTrash"
          (click)="openDeleteDirectoryModal(directory.directories[contextMenuId].id)">
        <i class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-red-600 text-white cursor-pointer hover:bg-red-700 py-2 pl-4" *ngIf="isTrash"
          (click)="openPermanentlyDeleteDirectoryModal(directory.directories[contextMenuId].id)"><i
        class="fa-solid fa-trash w-4 mr-2"></i>Delete
      </li>
      <li class="flex items-center bg-green-400 text-white cursor-pointer hover:bg-green-500 py-2 pl-4" *ngIf="isTrash"
          (click)="openRestoreDirectoryModal(directory.directories[contextMenuId].id)">
        <i
          class="fa-solid fa-rotate-right w-4 mr-2"></i>Restore
      </li>
    </ng-container>

  </ul>
</div>
<app-modal [inputSubject]="inputModalSubject" [outputSubject]="outputModalSubject"></app-modal>
